.auth-button {
  box-sizing: border-box;
  margin: .85em;
  margin-left: 2em;
  padding: .35em;
  border: 2px solid white;
  border-radius: 3px;
  width: fit-content;
  margin-left: 90%;
  /* z-index: 1;
  position: fixed;
  right: 5%;
  bottom: 20px; */
}

input[type="text"], input[type="password"], .auth-button, .form-error {
  font-size: 32px;
}

input[type="submit"] {
  padding: .85em;
  height: fit-content;
  width: fit-content;
  color: white;
  background: lightcoral;
}

.form-error {
  background-color: lightcoral;
  padding-left: 2em;
  margin-top: .85em;
}

.event-form {
  width: 100%;
}

.event-form-right {
  width: 100%;
}

.add-event {
  width: 100%;
}


form label {
  color: white;
}

form p {
  font-style: italic;
  padding: 0px;
  margin: .35em;
}

form .row {
  justify-content: center;
  align-items: center;
}