/* auth */
.auth-button {
  box-sizing: border-box;
  margin: auto;
  padding: .35em;
  border: 2px solid white;
  border-radius: 3px;
  width: fit-content;
  /* z-index: 1;
  position: fixed;
  right: 5%;
  bottom: 20px; */
}

input[type="text"], input[type="password"], .auth-button, .form-error {
  font-size: 32px;
}

input[type="submit"] {
  padding: .85em;
  height: fit-content;
  width: fit-content;
  color: white;
  background: lightcoral;
}

.form-error {
  background-color: lightcoral;
  padding-left: 2em;
  margin-top: .85em;
}

/* add event */

.event-form {
  width: 100%;
}

.add-event input[type="text"] {
  background: rgba(255, 255, 255, 0.509);
  color: black;
  font-family: 'Montserrat', sans-serif;
}

.event-form-right {
  box-sizing: border-box;
  width: 100%;
  margin: 2em;
  padding: .85em;
  border: 3px solid white;
  border-radius: 3px;
}

.add-event {
  width: 100%;
}


form label {
  color: white;
  font-size: 3vh;
}

form p {
  font-style: italic;
  padding: 0px;
  margin: .35em;
}

form .column {
  position: relative;
  justify-content: center;
  align-items: center;
}

form .scroll {
  width: 70%;
}

/* event listings */

.event-left {
  width: 15vw;
}

.event-left h4 {
  font-size: .75rem;
}

.event-right h1 {
  font-size: 3vh;
}

.event-right p {
  font-size: 12px;
}

.event-right h5 {
  font-size: 1vh;
}

.event button {
  font-size: 10px;
}