.events-background-black {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, black 0%, black 50%, rgba(68, 61, 167, 0.947) 70%, rgba(182, 132, 248, 0.358) 80%);
}

.events-background-photo {
  position: fixed;
  z-index: -1;
  height: 100vh;
  right: 0px;
  top: 0px;
  width: auto;
  object-fit: cover;
}

.event {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  /* height: fit-content; */
  border-radius: 3px;
  margin: 2em auto;
  background-color: rgba(255, 255, 255, 0.708);
  align-items: center;
}

.event-left {
  position: relative;
  box-sizing: border-box;
  /* height: 100%;
  min-height: 50vh; */
  width: 30vw;
  border-radius: 3px;
}

.event-left img {
  box-sizing: border-box;
  /* height: inherit;
  max-height: inherit; */
  width: inherit;
  padding: .85em;
  object-fit: cover;
  border-radius: 3px;
  overflow: hidden;
}

.event-left .row {
  height: fit-content;
}

.event-left h4 {
  font-weight: 300;
}

.event-right {
  /* min-height: 100%;
  max-height: 50vh; */
  width: 100%;
  margin: .85em;
  justify-content: flex-start;
  align-items: flex-start;
}

.event-right h1 {
  font-family: Roboto;
  font-size: 10vh;
  color: black;
}

.event-right p {
  font-size: 24px;
  color: #8D4555;
  font-style: italic;
}

.event-right .row {
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
}

.event-right h5 {
  font-size: 2vh;
}

.event button {
  position: relative;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 3px;
  box-sizing: border-box;
  padding: .85em;
  margin: .35em;
  background: rgba(0, 0, 0, 0.797);
}

.event a {
  text-decoration: none;
  color: white;
}


form label {
  color: white;
}

form p {
  font-style: italic;
}