.photo-index {
  width: 100vw;
  margin: 0 auto;
  height: fit-content;
  box-sizing: border-box;
  column-count: 3;
  column-gap: 1em;
  /* padding: 1em; */
}

.photo-holder {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  margin: 0 0 1em;
}

.photo-holder img {
  width: inherit;
  height: auto;
  max-height: 58vh;
  object-fit: cover;
  padding: 0;
}