*, *:before, *:after {
  box-sizing: border-box;
}

.parallax-grandparent {
  position: relative;
  z-index: -1;
}

.bubbles {
  position: relative;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 40vh;
  height: auto;
  /* z-index: -5; */
  opacity: .6;
}

.parallax-container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: -1;
  margin-top: 4rem;
}

.par {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.par-text {
  top: -100px;
  text-align: center;
  font-size: 19vw;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  /* color: #58eea9; */
  /* color: #99ffd0; */
  /* color: white; */
  color: rgb(222, 252, 252);
  mix-blend-mode: exclusion;
}

#arrow-container {
  z-index: 3;
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate3d(0px, -260px, 0px) translateX(-50%) !important;
  cursor: pointer;
  width: 75vh;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow-container:hover {
  cursor: pointer;
}

.arrow {
  width: 6vw;
  height: 6vw;
  border: 1vw solid;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent rgba(255, 255, 255, 0.5);
  transform: rotate(-135deg);
}

.sliding_arrow {
  position: absolute;
  -webkit-animation: slide 3s linear infinite;
  animation: slide 3s linear infinite;
}

.animation1 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animation2 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.animation3 {
  -webkit-animation-delay: 3s;
  animation-delay: 3s; 
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-7vh);
  }

  20% {
    opacity: 1;
    transform: translateY(-4vh);
  }

  80% {
    opacity: 1;
    transform: translateY(4vh);
  }

  100% {
    opacity: 0;
    transform: translateY(7vh);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-7vh);
  }

  20% {
    opacity: 1;
    transform: translateY(-4vh);
  }

  80% {
    opacity: 1;
    transform: translateY(4vh);
  }

  100% {
    opacity: 0;
    transform: translateY(7vh);
  }
}