*, *:before, *:after {
  box-sizing: border-box;
}

.parallax-container {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: -1;
  margin-top: 10rem;
  /* isolation: isolate; */
}

.par {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

.par-text {
  top: -100px;
  text-align: center;
  font-size: 19vw;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  /* color: #58eea9; */
  /* color: #99ffd0; */
  /* color: white; */
  color: #D3FFFF;
  mix-blend-mode: exclusion;
}

/* .par-2 {
  height: 150vh;
  top: 150px;
} */


/* .par-3 {
  top: 200px;
} */