.App {
  background-color: black;
  height: fit-content;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.photo {
  height: inherit;
  width: auto;
  object-fit: cover;
  box-sizing: border-box;
}

.veil {
  position: absolute;
  background: linear-gradient(349deg, rgba(0, 0, 0, 0.098) 0%, rgba(2, 0, 36, 0.934) 13%, rgba(255,255,255,0) 100%);
}

.veil-vert {
  right: 0;
  top: 50px;
  width: 50vw;
  height: 800px;
}

.section-right {
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 500px;
  word-spacing: 2px;
  line-height: 50px;
  padding: .85em;
  padding-top: 4rem;
  box-sizing: border-box;
}

.section-right h2 {
  width: 45vw;
  z-index: 3;
}

.dash-line {
  right: 0;
  width: 20vw;
  border-left: 2px dotted whitesmoke;
  height: 200px;
  margin: 0;
}