/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p {
  padding: .85rem;
  margin: 0;
}

h1 {
  text-align: left;
  font-family: 'Roboto', sans-serif;
}

h2 {
  text-align: left;
  color: white;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

button {
  padding: 0 .5em;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  font-weight: 200;
}

button:hover {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}