body {
  margin: 0;
  background: black;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h1, h2, h3, h4, h5, h6, p {
  padding: .85rem;
  margin: 0;
}

h1, h2, p {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 20vw;
  text-align: left;
}

h2 {
  font-size: 4rem;
  text-align: left;
  color: white;
  font-weight: 300;
}

h3 {
  font-size: 2rem;
  color: white;
  font-weight: 600;
  display: inline-block;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200;
  display: inline-block;
}

p {
  color: white;
  font-size: 1.0875rem;
}

section {
  padding-top: 10rem;
}

ul, li, input, textarea {
  list-style: none;
  background: transparent;
  color: white;
  padding: 0%;
  font-size: 1.3rem;
  border: none;
}

input {
  background: transparent;
  border: none;
}

button {
  padding: 0 .5em;
  border: none;
  background: transparent;
  color: white;
  font-size: 20px;
  font-weight: 200;
}

button:hover {
  cursor: pointer;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}


/*
gradient with purples:
3F355F
373653

gradient with red and purple:
BB1244
58204A

looks good with black:
333FC3 (royalish blue)
F100B6 (HOT pink)

that one animation:
F8F8FC (almost white) -- BDC0F5 (light light purple) -- 6F58EE (lightish purple) -- 141563 (dark blue)
39AECE -- 3F5CC4 (lighter)
073041 (darker greenish blueish)
3F0526 (maroon)


old hip hop gradient: 
background: linear-gradient(to bottom, #ff8a00 0%, #da1b60 100%);

another gradient option:
D7942D (yellow)
DB322D (red)

nice purple gradient (matches osme pictures)
background: linear-gradient(to bottom, #F8F8FC 0%, #BDC0F5 15%, #6F58EE 45%, #141563 100%);
*/